<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Homeservice - add new person</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add new person</h1>
	<div>
		<form th:object="${person}" th:action="@{save}" action="#" method="post">
		
			<label for="firstname">Firstname</label> 
			<input type="text" id="firstname" th:field="*{firstName}" /> 
			<div style="clear: both; display: block; height: 10px;"></div>

			<label for="lastname">Lastname</label> 
			<input type="text" id="lastname" th:field="*{lastName}" /> 
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="birthyear">Birth year</label> 
			<input type="number" id="birthyear" th:field="*{birthYear}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="status">Status</label> 
			<select id="status" th:field="*{status}" class="form-control">
			<option th:each="status: ${status}" th:value="${status.statusId}" th:text="${status.description}"></option>
			</select>
			
			<label for="hourlypay">Hourly pay</label> 
			<input type="number" id="hourlypay" th:field="*{hourlyPay}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="email">E-mail</label> 
			<input type="text" id="email" th:field="*{email}" /> 
			<div style="clear: both; display: block; height: 10px;"></div>	

			<label for="phone">Phone</label>
			<input type="text" id="phone" th:field="*{phone}" /> 
			<div style="clear: both; display: block; height: 10px;"></div>

							
			<input type="submit" value="Save"></input>

		</form>

	</div>


</body>
</html>